### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
app/dist

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.task
.lint/

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
!deployment/docker/.env

# Database files
*.db

# IDE's
.idea

# Ignore all contents within any 'data' directory under Docker folders
deployment/docker/**/data/*
# IMPORTANT: But do NOT ignore the .gitkeep file, so the directory is tracked.
!deployment/docker/**/data/.gitkeep